.form_heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    background-color: white;
}

fieldset{
    margin-top: 20px;
    padding: 20px;
    background-color: #e4cece;
    border-radius: 10px;
}

button{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: large;
}
